@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<form>
  <fieldset>
    <label>
      <input name="url" placeholder="url" />
    </label>
  </fieldset>

  <input type="submit" value="Submit" />
</form>
