@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<form method="post">
  <fieldset>
    <label>
      <input name="url" placeholder="url" />
    </label>
  </fieldset>

  <input type="submit" value="Submit" />
</form>

@if (ViewData["SavedUrl"] != null)
{
  <div>
    <a href="@ViewData["SavedUrl"]" target="_blank">RSS Feed Link</a>
  </div>
}
