@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<form method="post">
  <fieldset>
    <label>
      <input name="url" placeholder="url" />
    </label>
  </fieldset>

  <input type="submit" value="Submit" />
</form>

@if (ViewData["SavedUrl"] != null)
{
  <div>
    @if (ViewData["Entries"] is List<(string Title, string Url)> entries)
    {
      <ul>
        @foreach (var entry in entries)
        {
          <li><a href="@entry.Url" target="_blank">@entry.Title</a></li>
        }
      </ul>
    }
    <div>
      <a href="@ViewData["SavedUrl"]" target="_blank">RSS Feed Link</a>
    </div>
  </div>
}
