@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<form method="post">
  <fieldset>
    <label>
      <input name="url" placeholder="url" />
    </label>
  </fieldset>

  <input type="submit" value="Submit" />
</form>

@if (ViewData["SavedUrl"] != null)
{
  <div>
    @if (ViewData["Entries"] is List<(string Title, string Url)> entries)
    {
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var entry in entries)
          {
            <tr>
              <td><a href="@entry.Url" target="_blank">@entry.Title</a></td>
              <td><button type="button" class="outline" data-action="copy" data-url="@entry.Url">copy</button></td>
            </tr>
          }
        </tbody>
      </table>
    }
    <div>
      <a href="@ViewData["SavedUrl"]" target="_blank">RSS Feed Link</a>
    </div>
  </div>
}
